* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 1090px;
  margin-right: auto;
  margin-left: auto;
}

.App-header {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: calc(10px + 2vmin);
}

.App-search-button {
  display: flex;
  flex-direction: row;
}

.SearchButton:focus {
  color: #fff;
  background-color: #A9DFBF ;
  border-color: #7DCEA0;
  box-shadow: 0 0 0 0.2rem rgba(72,180,97,.5);
  outline: none;
}

.SearchButton {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: auto;
  border: none;
  background-color: #A9DFBF;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: white;
  font-weight: 600;
  width: 80px;
}


.SearchBar {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.SearchBar:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.ProfilePicture {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-right: -20px;
}

.CatProfile {
  margin-right: 20px;
}

.ProfilePicture::after {
  content: "";
  flex: auto;
}

.EachProfile {
  object-fit: cover;
  width: 350px;
  height: 235px;
  margin-bottom: 20px;
}